.row
    .col-md-6.col-md-offset-3
        %h2
            Desbaneado #{@banned_user.username}
        %p.lead
            Fuimos piadosos y perdonamos a éste usuario, que por favor no cometa mas errores

        .text-center
            %a.btn.btn-primary{:href => '/'} Volver al inicio